APP_NAME="ROB & RUN"
APP_ENV=local
APP_KEY=base64:bsg2oQeuBzFK+JOR7HaWujqtJP86HrTzukfySM0yII4=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database

SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

BITCOIND_SCHEME=http
BITCOIND_HOST=127.0.0.1
BITCOIND_PORT=8332
BITCOIND_USER=
BITCOIND_PASSWORD=

ETH_HOST=127.0.0.1
ETH_PORT=8545
ETH_PASSPHRASE=123456

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT=http://localhost/callback/google

JWT_SECRET=2evVwdi73yATm94ZwpMTV57pmlr0lh7f50n05EDYjFqISMODjw5aOZYx00V4KrK4
