.toggle {
  $self: &;
  display: none;
  align-items: center;
  background-color: $black;
  padding: 15px;
  margin-right: -15px;
  position: relative;
  z-index: 151;

  @include mobile {
    display: flex;
  }
  &__burger {
    width: 26px;
    height: 18px;
    position: relative;

    &--open {
      #{$self}__line {
        &:first-child {
          top: 8px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
          top: 8px;
        }
      }
    }
  }

  &__line {
    display: flex;
    width: 100%;
    background-color: $white;
    height: 2px;
    position: absolute;
    left: 0;
    @extend %transition;

    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 8px;
    }
    &:last-child {
      bottom: 0;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1;
    color: $white;
    display: flex;
    margin-right: 20px;
  }
}
